* {
  font-family: serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========== color declaration ============== */
:root {
  /* --main_bg: #77006d; */
  --main_bg: #11467a;
  --light_bg: #f0eeee;
  --text_color: rgb(85, 85, 85);
  --border_color: rgb(202, 202, 202);
}

body {
  background-color: rgb(226, 226, 226);
}

.main-container {
  /* border: 2px solid green; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* padding: 10px; */
}
/* ============================ topbar =========================== */
.topbar {
  width: calc(100% - 250px);
  margin-left: 255px;
  height: 7%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  /* border-radius: 5px; */

  background-color: white;
  /* border: 1px solid var(--border_color); */
  position: fixed;
  z-index: 1;
  /* background-color: var(--main_bg); */
  /* box-shadow: 3px 3px 15px black; */
  /* border: 2px solid black; */
}
.topbar .logo {
  display: flex;
  align-items: center;
  color: black;
  /* padding: 0.2%; */
}

.topbar .logo img{
  width: 100%;
  height: 100%;
}
.topbar .page_title {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
  /* padding: 0 10px; */
  color: var(--main_bg);
  /* background-color: var(--light); */
  /* border: 2px solid black; */
  padding-left: 5%;
}
.topbar .name em{
  padding-left: 7px;
}
.topbar .image {
  /* border: 2px solid var(--border_co  lor); */
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  /* padding: 0.2%; */
  margin-left: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--light);
  /* border: 2px solid black; */
}
.topbar .image img {
  width: 100%;
  height: 100%;

}
.topbar .toggle {
  color: white;
  margin-left: .5%;
  font-size: 1.5rem;
  cursor: pointer;
}


/* ======================== navigation bar ============================= */
.navigation {
  position: sticky;
  width: 250px;
  height: 100%;
  border: 1px solid var(--border_color);
  background-color: white;
  /* border: 1px solid var(--green); */
  transition: 0.5s;
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0%;
  left: 0;
  /* box-shadow: 1px 1px 15px rgb(160, 152, 152); */
}

/* =========== this sytles the icons in sidebar (.navigation) */
.navigation ul li a .icon {
  position: absolute;
  /* left: -10px; */
  /* background-color: #631b1b; */
  /* border-top-left-radius: 3px; */
  /* border-bottom-left-radius: 3px; */
}

/* =========== this sytles the menu e.g staffs, pharmacy etc in sidebar (.navigation) */
.navigation ul li a .title {
  position: absolute;
  left: 0px;
  text-transform: capitalize;
}

/* ================= this handle the width of the navbar on toggle ============= */
.navigation.active {
  width: 100px;
}
.navigation .username {
  width: 100%;
  /* border: 2px solid red; */
  margin-bottom: 5%;
  padding: 4% 0;
  /* text-align: center; */
  text-transform: capitalize;
  font-weight: bold;
  background-color: var(--main_bg);
  color: white;
  padding-left: 3%;
}

.navigation ul {
  position: absolute;
  top: 7%;
  left: 0;
  width: 90%;
  margin-left: 5%;
}

.navigation ul li {
  /* position: relative; */
  width: 100%;
  list-style: none;
  border-radius: 5px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: -3%;
  overflow: hidden;
  /* border-top-left-radius: 30px;
  border-bottom-left-radius: 30px; */
}
/* .navigation ul li:first-child {
  margin: 0;
  pointer-events: none;
  margin-top: 0px;
} */

.navigation ul li:last-child {
  background-color: var(--light_bg);
  margin: 0;
  margin-top: 20vh;
  /* margin-top: 50vh; */
  text-transform: uppercase;
  border: 1px solid var(--main_bg);
}
.user_navigation ul li:last-child {
  background-color: var(--light_bg);
  margin: 0;
  margin-top: 32vh;
  /* margin-top: 50vh; */
  text-transform: uppercase;
  border: 1px solid var(--main_bg);
}


/* ======this is responsible for hover effect and making the menu active onmouseover ============ */
.navigation ul li:hover .icon{
  background-color: var(--main_bg);
  color: white;
}
.navigation ul li:hover{
 border: 1px solid var(--main_bg);
}

/* =========== this keeps the list(brand) Separate from other lists in the nav ============= */
/* .navigation ul li:nth-child(1) {
  margin-bottom: 25%;
  pointer-events: none;
} */

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--main_bg);
  font-weight: bold;
  padding: 0;
  
  /* color: var(--light); */
}

/* .navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--light);
} */

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1rem;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 3px;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: start;
  white-space: nowrap;
  /* font-size: 1.7rem; */
}

/* ================ curve effect on hover =============  */




.body-content {
border: 1px solid white;
/* border: 1px solid rgb(206, 110, 110); */
  width: calc(100% - 250px);
  height: 92%;
  margin-left: 255px;
  margin-top: 3%;
  border-radius: 5px;
  background-color: white;
overflow-y: scroll;
  /* background-color: var(--light_bg); */
  /* display: none; */
}

.body-content .page_title{
color: var(--main_bg);
font-weight: bold;
width: 90%;
margin-left: 5%;
padding-top: 2%;
}


/* ======================================= info ==================================== */
.body-content .info{
/* border: 2px solid red; */
display: grid;
grid-template-columns: repeat(3, 1fr);
width: 90%;
margin-left: 5%;
padding-top: 1%;
}
.body-content .info .menu_container{
/* border: 2px solid red; */
padding: 2%;
display: flex;
align-items: center;
justify-content: center;

}
.body-content .info .menu_container .menu{
width: 96%;

border: 1px solid var(--border_color);
border-radius: 4px;
padding: 3%;
background-color: var(--light_bg);

}
.body-content .info .menu_container .menu .icon{
text-align: center;
font-size: 1.7rem;
color: rgb(46, 102, 165);

}
.body-content .info .menu_container .menu .middle{
display: flex;
justify-content: space-between;
padding: 3% 0;
/* font-size: 1.2rem; */
text-transform: capitalize;
font-style: italic;
color: var(--text_color);

}
.body-content .info .menu_container .menu button{
border: none;
text-transform: capitalize;
padding: 1% 5%;
background-color: var(--main_bg);
color: white;
border-radius: 5px;
font-size: .8rem;

}



/* ================================== record_container ============================== */
.record_container{
  /* border: 2px solid red; */
  display: flex;
  width: 70%;
  margin-left: 15%;
  padding-top: 3%;
  justify-content: space-between;
}
.record_container .record{
  /* border: 2px solid red; */
  display: flex;
   width: 240px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url(/images/bg3.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 2% 0;
   padding-top: .8%;
   background-color: var(--light_bg);
   background-blend-mode: multiply;
   border: 1.5px solid var(--main_bg);
   border-radius: 5px;

}
.record_container .name{
font-weight: bold;
color: var(--text_color);
text-transform: capitalize;
}
.record_container .amount{
font-weight: bold;
font-size: 1.5rem;
   padding: 7% 0;
   padding-top: .7%;



}
.record_container button{
padding: 1px 10px;
border: none;
background-color: var(--main_bg);
color: white;
font-size: .9rem;
border-radius: 5px;

}
/* ============================= form-container ==================================== */
.form-subject{
 text-align: center;
  margin-top: 3%;
  text-transform: uppercase;
  color: var(--main_bg);
}
.form-container{
  width: 100%;
/* border: 2px solid red; */
max-height: 90vh;
overflow-y: scroll;
padding-top: 3%;
  /* margin-left: 10%; */
}
.form-container form{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
}
.form-container form div{
  display: flex;
  flex-direction: column;
}

.form-container form input,
.form-container form select,
.form-container form textarea
{
  padding: 3px 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(107, 107, 107);
  margin-bottom: 7px;
  font-size: .9rem;
  padding: 10px;
}
.form-container form input:focus,
.form-container form select:focus,
.form-container form textarea:focus
{
  
  border: 2px solid var(--main_bg);
}


.form-container form textarea{
resize: none;
height: 100px;
}
.form-container form button{
 width: fit-content;
 align-self: flex-end;
 margin-top: 25px;
 margin-bottom: 10px;
 padding: 5px 10px;
 border: none;
 background-color: var(--main_bg);
 color: white;
 border-radius: 5px;
}

.form-container .bottom{
 width: 70%;
 margin-left: 30%;
 padding-top: 15px;
}


/* ================================ .message ================================== */
.message{
  position: fixed;
  top: 110px;
  /* right: 39%; */
  padding: .3% 1%;
  border-radius: 5px;
  width: fit-content;
  /* margin-left: 15%; */
  text-align: center;
  height: fit-content;
  word-break: break-all;
  transform: translateX(-50%);
  left: 50%;
}
.message::first-letter{
  text-transform: uppercase;
}

.success-message{
  border: 1px solid green;
  background-color: rgb(222, 253, 222);
  color: rgb(0, 94, 0);
}
.error-message{
  border: 1px solid rgb(252, 42, 42);
  background-color: #fae6e6;
  color: rgb(255, 1, 1);
}



/* ========================= table ============================ */
.sort_table{
  border: 1px solid var(--border_color);
  margin: 15px 0;
  margin-left: 5%;
  padding: 5px 15px;
  outline: none;
  

}
.sort_table option{
 text-transform: capitalize;

}
.table-subject{
  width: 90%;
  margin-left: 5%;
  text-transform: capitalize;
  color: var(--main_bg);
  font-weight: bold;
  /* margin-top: 20px; */
  /* padding-top: 40px; */
  /* border: 2px solid red; */

}
.admin_dashboard_table_subject{

  margin-top: 10px;
  /* border: 2px solid red; */

}
.user_dashboard_table_subject{

  margin-top: 30px;
  /* border: 2px solid red; */

}

.table-container{
  width: 90%;
  max-height: 80vh;
  /* border: 2px solid red; */
  margin-left: 5%;
  overflow-x: auto;
  overflow-y: scroll;
}
.table-non-scroll{
  height: fit-content;
  overflow: auto;
  /* border: 2px solid red; */
  
}
.table-container-sm{
  height: 53vh;
  /* border: 2px solid red; */
  overflow-y: hidden;
}



.table-container table{
   width: 100%;
} 
.table-container table tr{
   font-size: .9rem;
   text-transform: capitalize;

  /* border: 2px solid red; */

} 
.table-container table tr th{
    background-color: var(--main_bg);
    white-space: nowrap;
    color: white;
   padding: .3%;

} 
.table-container table tr:nth-child(odd) td{
    background-color: var(--light_bg);
} 

.table-container table td{
color: var(--text_color);
  white-space: nowrap;
  /* border: 2px solid red; */
  padding: 9px 0px;

}


.admin_dashboard_table_subject table td{

  margin-top: 10px;
  padding: 0;
  /* border: 2px solid red; */

}
.user_dashboard_table_subject table td{

  margin-top: 30px;
  padding: 0;
  /* border: 2px solid red; */

}

.table-container table td button{
  padding: 0px 8px;
  background-color: var(--main_bg);
  border: none;
  font-size: .9rem;
  border-radius: 3px;
  color: white;
}

.no-output{
  position: absolute;
  top: 40%;
  right: 38%;
  color: rgb(178, 178, 253);
  font-weight: bold;
  font-size: 2rem;
}




/* ======================= .footbar =========================== */
.footbar{
  /* background-color: var(--light_bg); */
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 999 !important;
  /* position: absolute; */
  bottom: 0;
  background-color: var(--main_bg);
  display: none;
  /* border: 2px solid rgb(242, 239, 243); */
}
.footbar .menu-container{
  width: 100%;
  height: 100%;
  /* border: 2px solid yellow; */
}
.footbar .menu-container ul{
  width: 100%;
  height: 100%;
  /* border: 2px solid rgb(255, 0, 149); */
  display: flex;
  justify-content: space-around;
  margin-left: -4%;
  align-items: center;
}
.footbar .menu-container ul li{
  height: 100%;
  width: 100%;
  /* border: 2px solid rgb(255, 0, 149); */
  display: flex;
  list-style: none;
}
.footbar .menu-container ul li a{
  height: 100%;
  width: 100%;
  padding: 3%;
  color: var(--light);

  /* border: 2px solid rgb(0, 255, 76); */
  text-decoration: none;
  
}
.footbar .menu-container ul li a .icon{
  font-size: .9rem;
  margin-bottom: 3%;
  margin-top: 15%;
}
.footbar .menu-container ul li a .title{
  font-size: .7rem;
  text-transform: capitalize;
  font-weight: normal;
  font-family: 'Times New Roman', Times, serif;
}
.footbar .menu-container ul li a .icon,
.footbar .menu-container ul li a .title{
 display: flex;
 justify-content: center;
 align-items: center;
  
}


/* ===================================== others ================================================== */

.no-information{
  width: 100%;
  /* height: 50vh; */
  padding: 7% 0;
  white-space: no-wrap;
   /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  color: var(--main_bg);
  font-size: 2rem;
  font-weight: bold;
}

.add-btn{
  position: fixed;
  bottom: 7%;
  right: 5%;
}
.add-btn button{
 background-color: var(--main_bg);
 color: white;
 border: none;
 border-radius: 50%;
 width: 40px;
 height: 40px;
 font-size: 1.2rem;
}












