<div class="footbar">
  <div class="menu-container">
      <div class="menu">
        <ul>
          <!-- <li>
            <a href="#">
              <span class="icon"></span>
              <span class="title">ADMIN</span>
            </a>
          </li> -->
      
          <li>
            <a href="dashboard">
              <span class="icon">
                <i class="fa-solid fa-house"></i>
              </span>
              <span class="title">dashboard</span>
            </a>
          </li>
          <li>
            <a href="users">
              <span class="icon">
                <i class="fa-solid fa-users"></i>
              </span>
              <span class="title">users</span>
            </a>
          </li>
          <li>
            <a href="movies">
              <span class="icon">
                <i class="fa-solid fa-gift"></i>
              </span>
              <span class="title">movies</span>
            </a>
          </li>
         
          <li>
            <a href="branches">
              <span class="icon">
                <i class="fa-solid fa-store"></i>
              </span>
              <span class="title">branches</span>
            </a>
          </li>
          <li>
            <a href="tickets">
              <span class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </span>
              <span class="title">tickets</span>
            </a>
          </li>
         
          
          <!-- <li>
            <a href="./department.html">
              <span class="icon">
                <i class="fa-solid fa-bed"></i>
              </span>
              <span class="title">deposites</span>
            </a>
          </li>
          <li>
            <a href="./ward.html">
              <span class="icon">
                <i class="fa-solid fa-warehouse"></i>
              </span>
              <span class="title">activities</span>
            </a>
          </li> -->
          
         
          
        </ul>
      </div>
    </div>
  </div>